%table
  %tr
    %th Name
    %th Cost
    %th Sales
    %th Takings
    %th
    %th
    %th

  - @drinks.each do |drink|
    %tr
      %td= drink.name
      %td= drink.cost
      %td= drink.sales.on_day.length
      %td= "£"+(drink.sales.on_day.length*drink.cost).to_s
      %td= link_to 'Edit', edit_drink_path(drink)
      %td= link_to 'X', drink, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %tr
    %th 
    %th 
    %th 
    %th= total_drinks
    %th= "-"+total_discount.to_s
    %th= (total_drinks - total_discount)
    %th