%table
  %tr
    %th Name
    %th Cost
    %th Sales
    %th Takings
    %th
    %th
    %th

  - @drinks.each do |drink|
    %tr
      %td= drink.name
      %td= drink.cost
      %td= drink.sales.on_day(@date).length
      %td= "£"+(drink.sales.on_day(@date).length*drink.cost).to_s
      %td= link_to 'Edit', edit_drink_path(drink)
      %td= link_to 'X', drink, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %tr
    %th 
    %th 
    %th 
    %th= total_drinks(@date)
    %th= "-"+total_discount(@date).to_s
    %th= (total_drinks(@date) - total_discount(@date))
    %th