%h1 Listing drinks

%table
  %tr
    %th Name
    %th Cost
    %th Sales
    %th Takings
    %th
    %th
    %th

  - @drinks.each do |drink|
    %tr
      %td= drink.name
      %td= drink.cost
      %td= drink.sales.length
      %td= drink.sales.length*drink.cost
      %td= link_to 'Show', drink
      %td= link_to 'Edit', edit_drink_path(drink)
      %td= link_to 'Destroy', drink, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Drink', new_drink_path
