.row
  - @tabs.each do |tab|
    .eight.columns
      %h3
        = tab.name
        (£
        = tab.total
        )
      %h3= link_to "Choose", controller: "tabs", action: "choose", id: tab
      = link_to 'Show', tab,  :class => "button"
      = link_to 'Edit', edit_tab_path(tab), :class => "button"
      = link_to 'Destroy', tab, :method => :delete, :data => { :confirm => 'Are you sure?' },   :class => "button"
.row
  = link_to 'New Tab', new_tab_path,  :class => "btn-lg full-width button"


