= form_for @sale do |f|
  - if @sale.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale.errors.count, "error")} prohibited this sale from being saved:"
      %ul
        - @sale.errors.full_messages.each do |msg|
          %li= msg

- @products.each do |product|
  .four.columns
    = link_to product.name, '#', id: product.id, :class => "btn-lg full-width button sale", :data => { :price => product.cost }
.sixteen.columns
  .eight.columns.alpha
    = link_to "Pay", "#", :class => "btn-lg full-width button pay"
  - if (session[:tab_id] != "")
    .eight.columns.omega
      = link_to "Save", new_discount_path, id: session[:tab_id], :class => "btn-lg full-width button save"
  - else
    = link_to "Tabs", tabs_path, :class => "btn-lg full-width button save"