%h1 Listing sales

%table
  %tr
    %th Product
    %th
    %th
    %th

  - @sales.each do |sale|
    %tr
      %td= sale.product.name
      %td= sale.created_at
      %td= link_to 'Edit', edit_sale_path(sale)
      %td= link_to 'Delete', sale, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sale', new_sale_path
