!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "aTillr"
    <meta property="og:title" content="aTillr - Simple cash tracking for pop-ups" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="aTillr - Simple cash tracking for pop-ups" />
    <meta property="og:description" content="Understand your popup business better; see which items perform best, when you sell the most items and make sure what's in your till matches up with what you've sold." />
    <meta property="og:url" content="atillr.com" />
    <meta property="og:image" content="" />
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"


  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") aTillr
          .container.nav-collapse
            %ul.nav
              %li= link_to "Sale", "/till"
              %li= link_to "Tabs", "/tabs"
              %li= link_to "Dashboard", "/businesses"
              %li= link_to "Products", "/products"
              - if user_signed_in? 
                %li= link_to('Logout', destroy_user_session_path, :method => :delete)     
              - else 
                %li= link_to('Login', new_user_session_path)  

    .container
      .row.flashes
        - flash.each do |key, value|
          .alert{ :class => "alert-#{key}" }
            %button.close{ :data => { :dismiss => "alert" } } x
            %strong
              = value
      .row.transaction
      .row
        = yield
    
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52529661-1', 'auto');
  ga('send', 'pageview');